.mobile {
  display: none;
}

.statistic {
  display: flex;
  justify-content: center;
}

.statistic-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.statistic-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.statistic-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.statistic-table-row:last-child {
  border-bottom: none;
}

.value {
  font-weight: bold;
}

a {
  color: #9A0000;
}

a:hover {
  color: #830000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .statistic-table {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .statistic-table {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .mobile > .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #9A0000;
  }

  .mobile > .component {
    width: 100%;
    margin-top: 15px;
    height: 60px;
    border: 1px solid #dddddd;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile > .component > .component-title {
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .mobile > .component > .component-info {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    word-wrap: break-word;
  }
}
