<div class="statistic">
  <div class="statistic-table" *ngIf="statistic_info.length !== 0">
    <div class="statistic-table-head">
      <span>Exploring object: {{ statistic_info['0']['id'] }}</span>
    </div>

    <div class="statistic-table-body">
      <div class="statistic-table-row">
        <span>Lifetime fees paid</span>
        <span class="value">{{ statistic_info['0']['lifetime_fees_paid'] }} <b>KRM</b></span>
      </div>
      <div class="statistic-table-row">
        <span>Most recent operation</span>
        <span class="value">
          {{ statistic_info['0']['most_recent_op'] }}
        </span>
      </div>
      <div class="statistic-table-row">
        <span>Owner</span>
        <span class="value">
        <a [routerLink]="['/accounts', statistic_info['0']['owner']]">
          {{ owner_name }}
        </a>
        </span>
      </div>
      <div class="statistic-table-row">
        <span>Pending fees</span>
        <span class="value">
          {{ statistic_info['0']['pending_fees'] }}
        </span>
      </div>
      <div class="statistic-table-row">
        <span>Pending vested fees</span>
        <span class="value">
          {{ statistic_info['0']['pending_vested_fees'] }}
        </span>
      </div>
      <div class="statistic-table-row">
        <span>Removed operations</span>
        <span class="value">
          {{ statistic_info['0']['removed_ops'] }}
        </span>
      </div>
      <div class="statistic-table-row">
        <span>Total core in orders</span>
        <span class="value">
          {{ statistic_info['0']['total_core_in_orders'] }}
        </span>
      </div>
      <div class="statistic-table-row">
        <span>Total operations</span>
        <span class="value">
          {{ statistic_info['0']['total_ops'] }}
        </span>
      </div>
    </div>
  </div>

  <div class="mobile"  *ngIf="statistic_info.length !== 0">
    <div class="title">
      Exploring object: {{ statistic_info['0']['id'] }}
    </div>
    <div class="component">
      <div class="component-title">
        Lifetime fees paid
      </div>
      <div class="component-info">
        {{ statistic_info['0']['lifetime_fees_paid'] }} <b>KRM</b>
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Most recent operation
      </div>
      <div class="component-info">
        {{ statistic_info['0']['most_recent_op'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Owner
      </div>
      <div class="component-info">
        <a [routerLink]="['/accounts', statistic_info['0']['owner']]">
          {{ owner_name }}
        </a>
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Pending fees
      </div>
      <div class="component-info">
        {{ statistic_info['0']['pending_fees'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Pending vested fees
      </div>
      <div class="component-info">
        {{ statistic_info['0']['pending_vested_fees'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Removed operations
      </div>
      <div class="component-info">
        {{ statistic_info['0']['removed_ops'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Total core in orders
      </div>
      <div class="component-info">
        {{ statistic_info['0']['total_core_in_orders'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Total operations
      </div>
      <div class="component-info">
        {{ statistic_info['0']['total_ops'] }}
      </div>
    </div>
  </div>
</div>
