.mobile {
  display: none;
}

.accounts {
  display: flex;
  justify-content: center;
}

.accounts-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.progress {
  margin: 10px 10px;
}

.progress-bar {
  background-color: #c14d4d;
}

.accounts-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.accounts-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.accounts-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.accounts-table-row:first-child {
  border-bottom: 2px solid #dddddd;
}

.accounts-table-row:last-child {
  border-bottom: none;
}

.accounts-table-row-head > a {
  color: #090e16;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.accounts-table-row-id {
  width: 20%;
  padding-left: 15px;
}

.accounts-table-row-amount {
  text-align: right;
  padding-right: 15px;
}

.accounts-table-row-name, .accounts-table-row-amount {
  width: 40%;
  padding-left: 15px;
}

a {
  color: #9A0000;
}

a:hover {
  color: #830000;
}

.accounts-table-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounts-table-pagination > ul > li {
  background-color: #FFFFFF !important;
  cursor: pointer;
}

.accounts-table-pagination > ul > li > a {
  background-color: #FFFFFF !important;
  color: #9A0000 !important;
  cursor: pointer;
}

.accounts-table-pagination > ul > li > a:hover {
  background-color: #FFFFFF !important;
  color: #830000 !important;
  cursor: pointer;
}

.accounts-table-pagination > ul > li > a:active {
  background-color: #FFFFFF !important;
  color: #830000 !important;
  cursor: pointer;
}

.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover {
  border-color: #9A0000 !important;
  cursor: default;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .accounts {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .accounts-table {
    border-radius: 0;
  }

  .accounts-table-row-name, .accounts-table-row-amount {
    padding: 0;
    width: 50%;
  }
}
