<div class="accounts">
  <div class="accounts-table">
    <div class="accounts-table-head">
      <span>accounts</span>
    </div>

    <div class="accounts-table-body">
      <div class="accounts-table-row">
        <div class="accounts-table-row-head accounts-table-row-id">
          <a class="sort" (click)="sort_by_id()">ID <span class="glyphicon {{ glyphicon_id }}" aria-hidden="true"></span></a>
        </div>
        <div class="accounts-table-row-head accounts-table-row-name">
          <a class="sort" (click)="sort_by_name()">Name <span class="glyphicon {{ glyphicon_name }}" aria-hidden="true"></span></a>
        </div>
        <div class="accounts-table-row-head accounts-table-row-amount">
          <a class="sort" (click)="sort_by_amount()">Amount <span class="glyphicon {{ glyphicon_amount }}" aria-hidden="true"></span></a>
        </div>
      </div>

      <div class="progress" *ngIf="!loading">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
      </div>

      <div class="accounts-table-row" *ngFor="let acc of pagedItems">
        <div class="accounts-table-row-id">
          {{ acc['1'] }}
        </div>
        <div class="accounts-table-row-name">
          <a [routerLink]="['/accounts', acc['1']]"> {{ acc['0'] }} </a>
        </div>
        <div class="accounts-table-row-amount">
          {{ acc['2'] }} <b>KRM</b>
        </div>
      </div>
      <div class="accounts-table-row accounts-table-pagination">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mobile">
  <div class="accounts-table">
    <div class="accounts-table-head">
      <span>accounts</span>
    </div>

    <div class="accounts-table-body">
      <div class="accounts-table-row">
        <div class="accounts-table-row-head accounts-table-row-name">
          <a class="sort" (click)="sort_by_name()">Name <span class="glyphicon {{ glyphicon_name }}" aria-hidden="true"></span></a>
        </div>
        <div class="accounts-table-row-head accounts-table-row-amount">
          <a class="sort" (click)="sort_by_amount()">Amount <span class="glyphicon {{ glyphicon_amount }}" aria-hidden="true"></span></a>
        </div>
      </div>

      <div class="progress" *ngIf="!loading">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
      </div>

      <div class="accounts-table-row" *ngFor="let acc of pagedItems">
        <div class="accounts-table-row-name">
          <a [routerLink]="['/accounts', acc['1']]"> {{ acc['0'] }} </a>
        </div>
        <div class="accounts-table-row-amount">
          {{ acc['2'] }} <b>KRM</b>
        </div>
      </div>
      <div class="accounts-table-row accounts-table-pagination">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

