<div class="block" *ngIf="this.block_info.length !== 0">
  <div class="block-table">
    <div class="block-table-head">
      <span>Block: {{ block_num }}</span>
    </div>

    <div class="block-table-body">
      <div class="block-table-row">
        <span>Previous</span>
        <span class="value">
          {{ block_info['0']['previous'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Date & Time</span>
        <span class="value">
          {{ block_info['0']['timestamp'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Merkle Root</span>
        <span class="value">
          {{ block_info['0']['transaction_merkle_root'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Witness</span>
        <span class="value">
          <a [routerLink]="['/operations/witness', block_info['0']['witness']]">
            {{ block_info['0']['witness'] }}
          </a>
        </span>
      </div>
      <div class="block-table-row">
        <span>Witness Signature</span>
        <span class="value">
          {{ block_info['0']['witness_signature'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Transactions in Block</span>
        <span class="value">
          {{ block_info['0']['transactions'].length }}
        </span>
      </div>
    </div>
  </div>

  <div class="block-table" *ngFor="let tr of block_info['0']['transactions']">
    <div class="block-table-head">
      <span>Transaction</span>
    </div>

    <div class="block-table-body">
      <div class="block-table-row">
        <span>Expiration</span>
        <span class="value">
          {{ tr['expiration'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Ref Block Num</span>
        <span class="value">
          {{ tr['ref_block_num'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Ref Block Prefix</span>
        <span class="value">
          {{ tr['ref_block_prefix'] }}
        </span>
      </div>
      <div class="block-table-row">
        <span>Operation</span>
        <span class="operation-name" [style.backgroundColor]="tr['operations']['0']['operation_color']">
          {{ tr['operations']['0']['operation_name'] }}
        </span>
      </div>
      <div class="block-table-row" *ngIf="tr['operations']['0']['1']['amount']">
        <span>From</span>
        <span class="value">
          <a [routerLink]="['/accounts', tr['operations']['0']['1']['from']]">
            {{ account_from }}
          </a>
        </span>
      </div>
      <div class="block-table-row" *ngIf="tr['operations']['0']['1']['amount']">
        <span>To</span>
        <span class="value">
          <a [routerLink]="['/accounts', tr['operations']['0']['1']['to']]">
            {{ account_to }}
          </a>
        </span>
      </div>
      <div class="block-table-row" *ngIf="tr['operations']['0']['1']['amount']">
        <span>Amount</span>
        <span class="value">
          {{ tr['operations']['0']['1']['amount']['amount'] }} {{ tr['operations']['0']['1']['amount']['asset_name'] }}
        </span>
      </div>
    </div>
  </div>
</div>
