<div class="fees">
  <div class="fees-table">
    <div class="fees-table-head">
      <span>fees</span>
    </div>
    <div class="fees-table-body">
      <div class="fees-table-row">
        <div class="fees-table-row-head fees-table-row-id">
          <span>Id</span>
        </div>
        <div class="fees-table-row-head fees-table-row-operation">
          <span>Operation</span>
        </div>
        <div class="fees-table-row-head fees-table-row-fee">
          <span>Fee</span>
        </div>
        <div class="fees-table-row-head fees-table-row-price">
          <span>Price per KB</span>
        </div>
      </div>


      <div class="fees-table-row" *ngFor="let fee of new_fee; let i = index">
        <div class="fees-table-row-id">
          <span>{{ i + 1 }}</span>
        </div>
        <div class="fees-table-row-operation">
          <span class="operation-name" [style.backgroundColor]="fee['color']">{{ fee['name'] }}</span>
        </div>
        <div class="fees-table-row-fee">
          <span>{{ fee['fee'] }} <b>KRM</b></span>
        </div>
        <div class="fees-table-row-price">
          <span>{{ fee['price_per_kbyte'] }} <b>KRM</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
