.mobile {
  display: none;
}

.fees {
  display: flex;
  justify-content: center;
}

.fees-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fees-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.fees-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.fees-table-row {
  display: flex;
  flex-direction: row;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.fees-table-row:first-child {
  border-bottom: 2px solid #dddddd;
}

.fees-table-row:last-child {
  border-bottom: none;
}

.fees-table-row-head {
  color: #090e16;
  text-transform: uppercase;
  font-weight: bold;
}

.fees-table-row-id {
  width: 10%;
}

.fees-table-row-operation {
  width: 40%;
}

.fees-table-row-fee, .fees-table-row-price {
  text-align: right !important;
  width: 25%;
}

.operation-name {
  padding: 2.5px 3px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 5px;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fees-table {
    border-radius: 0;
  }

  .fees-table-row-id {
    display: none;
  }

  .fees-table-row-operation {
    width: 40%;
  }

  .fees-table-row-fee, .fees-table-row-price {
    width: 30%;
  }
}
