<div class="main_container">
  <header class="header-1 navbar-fixed-top">
    <div class="navigation {{ top_navigation }}">
      <ul class="nav">
        <li class="nav-item nav-btn">
          <a (click)="navigation()"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item li-form">
          <form class="form-inline">
            <input [(ngModel)]="account_name" [ngModelOptions]="{standalone: true}" class="form-control" type="text" placeholder="Search accounts by name or id"
                   [style.borderColor]="border_color_id">
            <button class="btn btn-outline-success btn-search" type="submit" (click)="searchAccount()">Search</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="btn btn--wallet" href="{{ wallet_link }}">Create wallet</a>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Buy KRM on
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a (click)="clickRudex()" class="dropdown-item">RuDEX (0% market fee)</a><br/>
              <a (click)="clickOpenledger()" class="dropdown-item">Openledger (0,1% market fee)</a><br/>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="{{ navigation_left }}">
      <ul class="nav flex-column navbar-fixed-top">
        <li class="nav-title">
          <span class="karma-logo"></span>
          <span class="karma-title">Karma<br/>Block Explorer</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-chart-pie"></i> <span class="nav-item-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-search"></i> <span class="nav-item-text">Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accounts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-user"></i> <span class="nav-item-text">Accounts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fees" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-tags"></i> <span class="nav-item-text">Fees</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/witnesses" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-eye"></i> <span class="nav-item-text">Witnesses</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/committee" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-university"></i> <span class="nav-item-text">Committee</span>
          </a>
        </li>
      </ul>
    </div>
  </header>


  <header class="header-2">
    <ul class="nav">
      <li class="nav-title">
        <span class="karma-logo"></span>
        <span class="karma-title">Karma Block Explorer</span>
        <a (click)="navigation_mobile()"><i class="fas fa-bars"></i></a>
      </li>
      <li *ngIf="click_nav_mobile" class="nav-menu" (click)="click_mobile()">
        <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-chart-pie"></i> <span class="nav-item-text">Dashboard</span>
        </a>
      </li>
      <li *ngIf="click_nav_mobile" class="nav-menu" (click)="click_mobile()">
        <a class="nav-link" routerLink="/search" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-search"></i> <span class="nav-item-text">Search</span>
        </a>
      </li>
      <li *ngIf="click_nav_mobile" class="nav-menu" (click)="click_mobile()">
        <a class="nav-link" routerLink="/accounts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-user"></i> <span class="nav-item-text">Accounts</span>
        </a>
      </li>
      <li *ngIf="click_nav_mobile" class="nav-menu" (click)="click_mobile()">
        <a class="nav-link" routerLink="/fees" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-tags"></i> <span class="nav-item-text">Fees</span>
        </a>
      </li>
      <li *ngIf="click_nav_mobile" class="nav-menu" (click)="click_mobile()">
        <a class="nav-link" routerLink="/witnesses" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-eye"></i> <span class="nav-item-text">Witnesses</span>
        </a>
      </li>
      <li *ngIf="click_nav_mobile" class="nav-menu" (click)="click_mobile()">
        <a class="nav-link" routerLink="/committee" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-university"></i> <span class="nav-item-text">Committee</span>
        </a>
      </li>
    </ul>
  </header>

  <div class="{{ main_router_container }}">
    <router-outlet></router-outlet>
  </div>

  <footer class="{{ footer }}">
    <span>
      Created by GrapheneLab<br>
      If you'd like to support,<br>
      vote <a>graphenelab</a> as witness
    </span>
  </footer>
</div>
