/*@media only screen and (min-width: 1024px) {*/
.main-container {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  min-width: 1024px;
  font-family: 'Lato', sans-serif;
}

.header-1 {
  background-color: white;
}

.header-2 {
  display: none;
}

.top-navigation-1 {
  padding: 0 25px 0 255px;
}

.top-navigation-2 {
  padding: 0 25px 0 55px;
}

.navigation {
  height: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.navigation > .nav {
  max-width: 2560px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: center;
  justify-content: space-between;
  font-size: 18px;
}

.nav-btn {
  font-size: 20px;
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

li {
  display: flex;
  align-self: center;
  padding-right: 10px;
  flex-wrap: nowrap;
  list-style-type: none; /* Убираем маркеры */
}

li:last-child {
  padding-right: 0;
}

.li-form {
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-control {
  width: 75%;
  min-width: 150px;
  margin-right: 5px;
}

.form-control:focus {
  border-color: rgba(154, 0, 0, 1);
  outline: 0;
}

a, .btn{
  transition: all 0.3s ease;
}

a {
  color: #0d222e;
  cursor: pointer;
}

a:hover {
  color: #090e16;
}

.btn--wallet{
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 34px;
  margin-right: 10px;
  background-color: #090e16;
  color: #ffffff;
}

.btn-search, .btn-buy {
  background-color: rgb(154, 0, 0);
  color: #FFFFFF;
}

.btn-search:hover, .btn-buy:hover {
  background-color: rgb(131, 0, 0);
}

.btn:focus {
  outline: none;
}

.navigation-left {
  display: flex;
}

.navigation-left > .nav {
  width: 250px;
  min-height: 100vh;
  background-color: #090e16;
}

.navigation-left > .nav > .nav-title {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navigation-left > .nav > li > a:focus {
  background-color: #090e16;
}

.karma-logo {
  width: 43px;
  height: 43px;
  background-image: url('img/karma-logo-round_preview.png');
  background-repeat: no-repeat;
  background-size: 43px 43px;
}

.karma-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 15px;
}

.navigation-left > .nav > .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  color: #cccccc;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link:hover {
  background-color: #090e16;
  color: #aaaaaa;
}

.fa-chart-pie, .fa-search, .fa-user, .fa-tags, .fa-eye, .fa-university {
  color: #5c6570;
  width: 30px;
  font-size: 30px;
  margin-right: 20px;
}

.nav-item > .nav-link:hover > .fa-chart-pie,
.nav-item > .nav-link:hover > .fa-search,
.nav-item > .nav-link:hover > .fa-user,
.nav-item > .nav-link:hover > .fa-tags,
.nav-item > .nav-link:hover > .fa-eye,
.nav-item > .nav-link:hover > .fa-university {
  color: #977373;
}

.active-link {
  color: #FFFFFF !important;
}

.active-link > .fa-chart-pie,
.active-link > .fa-search,
.active-link > .fa-user,
.active-link > .fa-tags,
.active-link > .fa-eye,
.active-link > .fa-university {
  color: #9A0000 !important;
}

.another-navigation-left {
  display: flex;
}

.another-navigation-left > .nav {
  width: 55px;
  min-height: 100vh;
  background-color: #090e16;
}

.another-navigation-left > .nav > .nav-title {
  padding: 0;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.another-navigation-left > .nav > .nav-title > .karma-title {
  display: none;
}

.another-navigation-left > .nav > .nav-title > .karma-logo {
  padding: 0;
}

.another-navigation-left > .nav > .nav-item > .nav-link > .nav-item-text {
  display: none;
}

.another-navigation-left > .nav > .nav-item > .nav-link {
  margin: 0;
  /*width: 55px;*/
  height: 55px;
  padding: 0;
  padding-left: 10px;
}

a.nav-link {
  width: 100%;
}

.another-navigation-left > .nav > .nav-item > .nav-link:focus {
  background-color: #090e16;
}

.another-navigation-left > .nav > .nav-item > .nav-link > .fa-chart-pie,
.another-navigation-left > .nav > .nav-item > .nav-link > .fa-search,
.another-navigation-left > .nav > .nav-item > .nav-link > .fa-user,
.another-navigation-left > .nav > .nav-item > .nav-link > .fa-tags,
.another-navigation-left > .nav > .nav-item > .nav-link > .fa-eye,
.another-navigation-left > .nav > .nav-item > .nav-link > .fa-university {
  margin: 0;
  width: 30px;
}

.main-router-container-1 {
  padding: 75px 25px 20px 275px;
}

.main-router-container-2 {
  padding: 75px 25px 20px 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: #f5f5f5;
}

.footer-1 {
  padding-left: 250px;
}

.footer-2 {
  padding-left: 55px;
}

footer > span > a {
  color: #9A0000;
}

footer > span > a:hover {
  color: #830000;
}

.dropdown-menu {
  width: 210px;
}

a.dropdown-item {
  margin: 15px 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-2 {
    display: none;
  }

  .main-container-1 {
    min-width: 768px;
  }

  .navigation-left > .nav > .nav-item {
    height: 55px;
  }

  .main-container-2 {
    min-width: 768px;
  }

  header {
    width: 100%;
    min-width: 768px;
  }

  .top-navigation-1 {
    padding: 0 25px 0 205px;
  }

  .top-navigation-2 {
    padding: 0 25px 0 65px;
  }

  .navigation-left > .nav {
    width: 200px;
  }

  .karma-logo {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

  .karma-title {
    font-size: 13px;
    padding-left: 12px;
  }

  .nav-link {
    font-size: 16px;
    margin-left: 2px;
  }

  .fa-chart-pie, .fa-search, .fa-user, .fa-tags, .fa-eye {
    color: #5c6570;
    width: 30px;
    font-size: 30px;
    margin-right: 20px;
  }

  .another-navigation-left > .nav > .nav-item {
    height: 55px;
  }

  .another-navigation-left > .nav {
    width: 65px;
  }

  .another-navigation-left > .nav > .nav-title {
    height: 55px;
    width: 65px;
  }

  .another-navigation-left > .nav > .nav-item > .nav-link {
    width: 65px;
    padding-left: 16px;
  }

  .another-navigation-left > .nav > .nav-item > .nav-link > .fa-chart-pie,
  .another-navigation-left > .nav > .nav-item > .nav-link > .fa-search,
  .another-navigation-left > .nav > .nav-item > .nav-link > .fa-user,
  .another-navigation-left > .nav > .nav-item > .nav-link > .fa-tags,
  .another-navigation-left > .nav > .nav-item > .nav-link > .fa-eye,
  .another-navigation-left > .nav > .nav-item > .nav-link > .fa-university {
    width: 30px;
  }

  .main-router-container-1 {
    padding: 75px 25px 20px 225px;
  }

  .main-router-container-2 {
    padding: 75px 25px 20px 80px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-2 {
    display: block;
  }

  .main-container-1 {
    min-width: 320px;
  }

  .main-container-2 {
    min-width: 320px;
  }

  header {
    min-width: 320px;
  }

  .header-1 {
    display: none;
  }

  .header-2 > .nav > li {
    height: 60px;
    background-color: #090e16;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
  }

  .header-2 > .nav > .nav-title > .karma-logo {
    margin-left: 15px;
  }

  .header-2 > .nav > .nav-title > .karma-title {
    padding: 0;
    text-align: center;
    font-size: 18px;
    width: 60%;
  }

  .header-2 > .nav > .nav-title > a {
    font-size: 22px;
    color: #ffffff;
  }

  .header-2 > .nav > .nav-title > a:hover {
    background-color: #090e16;
    color: #a3b0b6;
  }

  .header-2 > .nav > .nav-title > a:focus {
    background-color: #090e16;
  }

  .header-2 > .nav > .nav-menu {
    border-top: 1px solid #313c4b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
  }

  .header-2 > .nav > .nav-menu  > .nav-link {
     margin-left: 8px;
   }

  .header-2 > .nav > .nav-menu  > .nav-link > .nav-item-text {
    color: #a3b0b6;
    text-transform: uppercase;
    font-size: 18px;
  }

  .header-2 > .nav > .nav-title > .nav-link:hover {
    color: #cbd7dc;
  }

  .header-2 > .nav > .nav-menu > .nav-link > .fa-chart-pie,
  .header-2 > .nav > .nav-menu > .nav-link > .fa-search,
  .header-2 > .nav > .nav-menu > .nav-link > .fa-user,
  .header-2 > .nav > .nav-menu > .nav-link > .fa-tags,
  .header-2 > .nav > .nav-menu > .nav-link > .fa-eye ,
  .header-2 > .nav > .nav-menu > .nav-link > .fa-university {
    width: 40px;
    font-size: 32px;
  }

  .main-router-container-1 {
    padding: 20px 10px 20px 10px;
  }

  .main-router-container-2 {
    padding: 20px 10px 20px 10px;
  }

  .footer-1 {
    padding-left: 0px;
  }

  .footer-2 {
    padding-left: 0px;
  }

  li {
    list-style-type: none; /* Убираем маркеры */
  }

}
