.operation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile {
  display: none;
}

.operation-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.operation-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.operation-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.operation-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.operation-table-row:last-child {
  border-bottom: none;
}

.value {
  font-weight: bold;
}

a {
  color: #9A0000;
}

a:hover {
  color: #830000;
}

.operation-name {
  padding: 2.5px 3px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 5px;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .operation-table {
    border-radius: 0;
  }
}
