<div class="operation" *ngIf="this.operation_info !== {}">
  <div class="operation-table">
    <div class="operation-table-head">
      <span>Exploring object: {{ operation_id }}</span>
    </div>

    <div class="operation-table-body">
      <div class="operation-table-row">
        <span>Block</span>
        <span class="value">
          <a [routerLink]="['/operations/blocks', operation_info['block_num']]">
            {{ operation_info['block_num'] }}
          </a>
        </span>
      </div>
      <div class="operation-table-row">
        <span>Virtual Operation</span>
        <span class="value">
          {{ operation_info['virtual_op'] }}
        </span>
      </div>
      <div class="operation-table-row" *ngIf="operation_info['op']">
        <span>Type</span>
        <span class="operation-name" [style.backgroundColor]="operation_info['op']['operation_color']">
          {{ operation_info['op']['operation_name'] }}
        </span>
      </div>
    </div>
  </div>

  <div class="operation-table" *ngIf="amount">
    <div class="operation-table-head">
      <span>Operation</span>
    </div>

    <div class="operation-table-body">
      <div class="operation-table-row">
        <span>From</span>
        <span class="value">
          <a [routerLink]="['/accounts', operation_info['op']['1']['from']]">
            {{ account_from }}
          </a>
        </span>
      </div>
      <div class="operation-table-row">
        <span>To</span>
        <span class="value">
          <a [routerLink]="['/accounts', operation_info['op']['1']['to']]">
            {{ account_to }}
          </a>
        </span>
      </div>
      <div class="operation-table-row">
        <span>Amount</span>
        <span class="value">
          {{ operation_info['op']['1']['amount']['amount'] }} {{ operation_info['op']['1']['amount']['asset_name'] }}
        </span>
      </div>
      <div class="operation-table-row">
        <span>Fee</span>
        <span class="value">
          {{ operation_info['op']['1']['fee']['amount'] }} {{ operation_info['op']['1']['fee']['asset_name'] }}
        </span>
      </div>
    </div>
  </div>
</div>
