<div class="account"  *ngIf="about_account.length > 0">
  <div class="account-name">
    {{ about_account['0']['name'] }}
  </div>
  <div class="account-member">
    <span>{{ member }}</span>
  </div>
  <div class="account-row">
    <div class="account-table-small">
      <div class="account-table-head">
        Stats
      </div>
      <div class="account-table-body">
        <div class="account-table-row">
          <span>KRM Balance</span>
          <span class="value">{{ account_balance_KRM }} KRM</span>
        </div>
        <div class="account-table-row" *ngIf="account_statistic.length > 0">
          <span>Lifetime fees paid</span>
          <span class="value">{{ account_statistic['0']['lifetime_fees_paid'] }} KRM</span>
        </div>
        <div class="account-table-row" *ngIf="account_statistic.length > 0">
          <span>Total operations</span>
          <span class="value">{{ account_statistic['0']['total_ops'] }}</span>
        </div>
        <div class="account-table-row" *ngIf="account_statistic.length > 0">
          <span>Owner</span>
          <span class="value" *ngIf="account_owner">
            <a [routerLink]="['/accounts', account_statistic['0']['owner']]">
              {{ account_owner['name'] }}
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="account-table-small">
      <div class="account-table-head">
        Account information
      </div>
      <div class="account-table-body">
        <div class="account-table-row">
          <span>ID</span>
          <span class="value">{{ about_account['0']['id'] }}</span>
        </div>
        <!--<div class="account-table-row">-->
          <!--<span>Name</span>-->
          <!--<span class="value">{{ about_account['0']['name'] }}</span>-->
        <!--</div>-->
        <div class="account-table-row">
          <span>Referrer</span>
          <span class="value">
            <a [routerLink]="['/accounts', about_account['0']['referrer']]" (click)="newID(about_account['0']['referrer'])">
              {{ about_account['0']['referrer_name'] }}
            </a>
          </span>
        </div>
        <div class="account-table-row">
          <span>Registrar</span>
          <span class="value">
            <a [routerLink]="['/accounts', about_account['0']['registrar']]" (click)="newID(about_account['0']['registrar'])">
              {{ about_account['0']['registrar_name'] }}
            </a>
          </span>
        </div>
        <div class="account-table-row">
          <span>Statistics</span>
          <span class="value">
            <a [routerLink]="['/operations/statistic', about_account['0']['statistics'] + '+' + about_account['0']['id']]">
              {{ about_account['0']['statistics'] }}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="account-row">
    <div class="account-table-small">
      <div class="account-table-head">
        Balances
      </div>
      <div class="account-table-body">
        <div class="account-table-row account-table-row-head">
            <span>ID</span>
            <span>Balance</span>
        </div>
        <div class="account-table-row" *ngFor="let acc of account_balance">
          <span>{{ acc['id'] }}</span>
          <span>{{ acc['balance']}} <b>{{ acc['asset'] }}</b></span>
        </div>
      </div>
    </div>

    <div class="account-table-small">
      <div class="account-table-head">
        Vesting balances
      </div>
      <div class="account-table-body">
        <div class="account-table-row account-table-row-head">
          <span>ID</span>
          <span>Balance</span>
        </div>
        <div class="account-table-row" *ngFor="let vest of account_vest_balance">
          <span>{{ vest['id'] }}</span>
          <span>{{ vest['balance']['amount']}} <b>{{ vest['balance']['asset'] }}</b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="account-row">
    <div class="account-table-small ">
      <div class="account-table-head">
        Owner keys
      </div>
      <div class="account-table-body">
        <div class="account-table-row account-table-row-head">
          <span class="key">Key</span>
          <span class="threshold">Threshold</span>
        </div>
        <div class="account-table-row" *ngFor="let keys of about_account['0']['owner']['key_auths']">
          <span class="key">{{ keys['0'] }}</span>
          <span class="threshold">{{ keys['1'] }}</span>
        </div>
      </div>
    </div>
    <div class="account-table-small">
      <div class="account-table-head">
        Active keys
      </div>
      <div class="account-table-body">
        <div class="account-table-row account-table-row-head">
          <span class="key">Key</span>
          <span class="threshold">Threshold</span>
        </div>
        <div class="account-table-row" *ngFor="let keys of about_account['0']['active']['key_auths']">
          <span class="key">{{ keys['0'] }}</span>
          <span class="threshold">{{ keys['1'] }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="account-row">
    <div class="account-table-big">
      <div class="account-table-head">
        Full account history
      </div>
      <div class="account-table-body">
        <div class="account-table-row account-table-row-head">
          <div class="account-table-column-id">Operation ID</div>
          <div class="account-table-column-time">Date & Time</div>
          <div class="account-table-column-witness">Witness</div>
          <div class="account-table-column-block">Block</div>
          <div class="account-table-column-type">Operation Type</div>
        </div>
        <div class="progress" *ngIf="!loading">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
               aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          </div>
        </div>
        <div class="account-table-row" *ngFor="let op of pagedItems">
          <div class="account-table-column-id">
            <a [routerLink]="['/operations/operation', about_account['0']['id'] + '/' + op['id']]">
              {{ op['id'] }}
            </a>
          </div>
          <div class="account-table-column-time">
            {{ op['block_num']['information']['0']['timestamp'] }}
          </div>
          <div class="account-table-column-witness">
            <a [routerLink]="['/operations/witness', op['block_num']['information']['0']['witness']]">
              {{ op['block_num']['information']['0']['witness'] }}
            </a>
          </div>
          <div class="account-table-column-block">
            <a [routerLink]="['/operations/blocks', op['block_num']['block_num']]">
              {{ op['block_num']['block_num'] }}
            </a>
          </div>
          <div class="account-table-column-type">
            <span class="operation-name" [style.backgroundColor]="op['op']['operation_color']">
              {{ op['op']['operation_name'] }}
            </span>
          </div>
        </div>
        <div class="accounts-table-row accounts-table-pagination">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
