.account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress {
  margin: 10px 10px;
}

.progress-bar {
  background-color: #c14d4d;
}

.account-name {
  color: #090e16;
  font-size: 28px;
  padding: 5px 0 5px 0;
}

.account-member {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 25px 0;
  text-transform: uppercase;
  color: #777777;
  font-size: 16px;
}

.account-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 30px;
}

.account-table-small {
  width: 48%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.account-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.account-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.account-table-row:last-child {
  border-bottom: none;
}

.account-table-row-head {
  border-bottom: 2px solid #dddddd;
  text-transform: uppercase;
  font-weight: bold;
}

.account-table-big {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.value {
  font-weight: bold;
}

.key {
  width: 75%;
  word-wrap: break-word;
}

.threshold {
  text-align: right;
  width: 25%;
}

a {
  color: #9A0000;
}

a:hover {
  color: #830000;
}

.operation-name {
  padding: 2.5px 3px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 5px;
  color: white;
}

.account-table-big > .account-table-body > .account-table-row {
  justify-content: flex-start;
}

.account-table-column-witness {
  width: 10%;
}

.account-table-column-id, .account-table-column-block {
  width: 20%;
}

.account-table-column-time, .account-table-column-type {
  width: 25%;
}

.account-table-column-type, .account-table-column-block {
  text-align: right;
}

.accounts-table-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounts-table-pagination > ul > li {
  background-color: #FFFFFF !important;
  cursor: pointer;
}

.accounts-table-pagination > ul > li > a {
  background-color: #FFFFFF !important;
  color: #9A0000 !important;
  cursor: pointer;
}

.accounts-table-pagination > ul > li > a:hover {
  background-color: #FFFFFF !important;
  color: #830000 !important;
  cursor: pointer;
}

.accounts-table-pagination > ul > li > a:active {
  background-color: #FFFFFF !important;
  color: #830000 !important;
  cursor: pointer;
}

.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover {
  border-color: #9A0000 !important;
  cursor: default;
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {
  .account-row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .account-table-small {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .account-table-big {
    border-radius: 0;
  }

  .account-table-big > .account-table-body {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  .account-table-big > .account-table-body > .account-table-row {
    min-width: 1000px;
  }

  .account-row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .account-table-small {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0;
  }
}
