.block-container {
  padding: 110px 50px 50px 300px;
  display: flex;
  flex-direction: column;
}

.block {
  margin-top: 20px;
  width: 100%;
  height: auto;
  outline: 1px solid #D32F2F;
}

.block:first-child {
  margin-right: 50px;
}

.title-block {
  width: 100%;
  height: 36px;
  background-color: #D32F2F;
  color: white;
  text-transform: uppercase;
  padding: 8px 13px;
  font-weight: bold;
}

.body-block {
  padding: 8px 13px;
}

.information-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #37474F;
  padding: 10px 0;
}

.information-block>div {
  padding: 0 10px;
}

.right {
  font-weight: bold;
}

a {
  color: #D32F2F;
}

a:hover {
  color: #B71C1C;
}

.json-block {
  margin-top: 40px;
  width: 100%;
  height: auto;
  outline: 1px solid #BBDEFB;
}

.json-head {
  width: 100%;
  /*height: 36px;*/
  /*background-color: #D32F2F;*/
  color: #64B5F6;
  text-transform: uppercase;
  padding: 8px 13px 0 13px;
  font-weight: bold;
}

.json-body {
  margin: 1.5%;
  padding: 5px;
  width: 97%;
  height: auto;
  border: 1px solid #CFD8DC;
  white-space: pre;
  background-color: #ECEFF1;
}
