<div class="block-container">
  <div class="block">
    <div class="title-block">
      Exploring object: {{ balance_id }}
    </div>

    <div class="body-block">
      <div class="information-block" >
        <div>
          Object type
        </div>
        <div class="right">
          ACCOUNT BALANCE object
        </div>
      </div>
    </div>
  </div>

  <div class="json-block">
    <div class="json-head">
      Object Raw Data
    </div>
    <div class="json-body">
      {{ json_string }}
    </div>
  </div>
</div>
