<div class="committee">
  <div class="committee-table">
    <div class="committee-table-head">
      <span>active committee</span>
    </div>
    <div class="committee-table-body">
      <div class="committee-table-row">
        <div class="committee-table-row-head committee-table-row-position">
          <span>Position</span>
        </div>
        <div class="committee-table-row-head committee-table-row-id">
          <span>id</span>
        </div>
        <div class="committee-table-row-head committee-table-row-account">
          <span>Account</span>
        </div>
        <div class="committee-table-row-head committee-table-row-url">
          <span>Url</span>
        </div>
        <div class="committee-table-row-head committee-table-row-votes">
          <span>Total votes</span>
          <!--<a class="sort" (click)="sort_by_total_active()">Total votes <span class="glyphicon {{ glyphicon_total_active }}" aria-hidden="true"></span></a>-->
        </div>
      </div>
      <div class="committee-table-row" *ngFor="let committee of active_committee_info; let i = index">
        <div class="committee-table-row-position">
          <span>{{ i + 1 }}</span>
        </div>
        <div class="committee-table-row-id">
          <span>{{ committee['0'] }}</span>
        </div>
        <div class="committee-table-row-account">
          <a [routerLink]="['/accounts', committee['1']]"> {{ committee['2'] }}</a>
        </div>
        <div class="committee-table-row-url">
          <span *ngIf="committee['4']">
            <a (click)="openURL(committee['4'])">Link</a>
          </span>
        </div>
        <div class="committee-table-row-votes">
          <span>{{ committee['3'] }} <b>KRM</b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="committee-table">
    <div class="committee-table-head">
      <span>reserve committee</span>
    </div>
    <div class="committee-table-body">
      <div class="committee-table-row">
        <div class="committee-table-row-head committee-table-row-position">
          <span>Position</span>
        </div>
        <div class="committee-table-row-head committee-table-row-id">
          <span>id</span>
        </div>
        <div class="committee-table-row-head committee-table-row-account">
          <span>Account</span>
        </div>
        <div class="committee-table-row-head committee-table-row-url">
          <span>Url</span>
        </div>
        <div class="committee-table-row-head committee-table-row-votes">
          <span>Total votes</span>
          <!--<a class="sort" (click)="sort_by_total_standby()">Total votes <span class="glyphicon {{ glyphicon_total_active }}" aria-hidden="true"></span></a>-->
        </div>
      </div>
      <div class="committee-table-row" *ngFor="let committee of standby_committee_info; let i = index">
        <div class="committee-table-row-position">
          <span>{{ active_committee.length + i + 1 }}</span>
        </div>
        <div class="committee-table-row-id">
          <span>{{ committee['0'] }}</span>
        </div>
        <div class="committee-table-row-account">
          <a [routerLink]="['/accounts', committee['1']]"> {{ committee['2'] }}</a>
        </div>
        <div class="committee-table-row-url">
          <span *ngIf="committee['4']">
            <a (click)="openURL(committee['4'])">Link</a>
          </span>
        </div>
        <div class="committee-table-row-votes">
          <span>{{ committee['3'] }} <b>KRM</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
