.mobile {
  display: none;
}

.committee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.committee-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.committee-table:first-child {
  margin-bottom: 30px;
}

.committee-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.committee-table-row-head > a {
  color: #090e16;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.committee-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.committee-table-row {
  display: flex;
  flex-direction: row;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.committee-table-row:first-child {
  border-bottom: 2px solid #dddddd;
}

.committee-table-row:last-child {
  border-bottom: none;
}

.committee-table-row-head {
  color: #090e16;
  text-transform: uppercase;
  font-weight: bold;
}

.committee-table-row-url > a {
  cursor: pointer;
}

.committee-table-row-position, .committee-table-row-id, .committee-table-row-url {
  width: 20%;
}

.committee-table-row-account, .committee-table-row-votes {
  width: 20%;
}

.committee-table-row-votes {
  text-align: right;
}

a {
  color: #9A0000;
  cursor: pointer;
}

a:hover {
  color: #830000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .committee-table-row-position {
    display: none;
  }

  .committee-table-row-id, .committee-table-row-url {
    width: 25%;
  }

  .committee-table-row-votes {
    width: 25%;
  }

  .committee-table-row-account {
    width: 25%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .committee-table {
    border-radius: 0;
  }

  .committee-table > .committee-table-body {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  .committee-table-row {
    min-width: 1000px;
  }

  .committee-table-head {
    width: 100%;
  }
}
