.witness {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile {
  display: none;
}

.witness-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.witness-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.witness-table-head > span {
  width: 100%;
  text-align: center;
}

.witness-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.witness-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.witness-table-row:last-child {
  border-bottom: none;
}

.value {
  text-align: right;
  font-weight: bold;
}

a {
  color: #9A0000;
}

a:hover {
  color: #830000;
}

span {
  width: 50%;
  word-wrap: break-word;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .witness-table {
    border-radius: 0;
  }
}
