<div class="witness" *ngIf="this.witness_info.length !== 0">
  <div class="witness-table">
    <div class="witness-table-head">
      <span>Exploring object: {{ witness_id }}</span>
    </div>

    <div class="witness-table-body">
      <div class="witness-table-row">
        <span>Last Aslot</span>
        <span class="value">
          {{ witness_info['0']['last_aslot'] }}
        </span>
      </div>
      <div class="witness-table-row">
        <span>Last Confirmes Block Num</span>
        <span class="value">
          <a [routerLink]="['/operations/blocks', witness_info['0']['last_confirmed_block_num']]">
            {{ witness_info['0']['last_confirmed_block_num'] }}
          </a>
        </span>
      </div>
      <div class="witness-table-row">
        <span>Pay VB</span>
        <span class="value">
          {{ witness_info['0']['pay_vb'] }}
        </span>
      </div>
      <div class="witness-table-row">
        <span>Signing Key</span>
        <span class="value signing_key">
          {{ witness_info['0']['signing_key'] }}
        </span>
      </div>
      <div class="witness-table-row">
        <span>Total Missed</span>
        <span class="value">
          {{ witness_info['0']['total_missed'] }}
        </span>
      </div>
      <div class="witness-table-row">
        <span>Total Votes</span>
        <span class="value">
          {{ witness_info['0']['total_votes'] }} KRM
        </span>
      </div>
      <div class="witness-table-row">
        <span>Url</span>
        <span class="value">
          {{ witness_info['0']['url'] }}
        </span>
      </div>
      <div class="witness-table-row">
        <span>Vote ID</span>
        <span class="value">
          {{ witness_info['0']['vote_id'] }}
        </span>
      </div>
      <div class="witness-table-row">
        <span>Witness Account</span>
        <span class="value">
          <a [routerLink]="['/accounts', witness_info['0']['witness_account']]">
            {{ account_name }}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
