<div class="transaction-container">
  <table class="table">
    <thead>
    <tr class="table-head">
      <th scope="row" colspan="2">Last Transactions</th>
    </tr>
    <tr>
      <th scope="col">Transaction ID</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tr of transactions">
      <td scope="row">
        {{ tr['head_block_id'] }}
      </td>
      <!--<td>{{ acc['2'] }}</td>-->
    </tr>
    </tbody>
  </table>
</div>
