.transaction-container {
  padding: 110px 100px 50px 350px;
}

table {
  /*border: 5px solid #FFFFFF;*/
  color: #37474F;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  outline: 1px solid #D32F2F;
}
tr {
  border-bottom: 1px solid #dddddd;
}

tr:last-child {
  border-bottom: none;
}

thead>.table-head {
  background-color: #D32F2F;
  color: white;
  text-transform: uppercase;
  padding-left: 0;
  border: none;
}

thead>tr {
  border-left: 25px solid #FFFFFF;
  border-right: 25px solid #FFFFFF;
  border-bottom: 1px solid #dddddd;
}

tbody {
  border-left: 25px solid #FFFFFF;
  border-right: 25px solid #FFFFFF;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  /*padding-left: 13px;*/
  padding: 10px 14px;
  border: none;
}

a {
  color: #D32F2F;
}

a:hover {
  color: #B71C1C;
}
