body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  margin-bottom: 55px;
}

html {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
}
/* You can add global styles to this file, and also import other style files */
