<div class="search">
  <div class="search-table">
    <div class="search-table-head">
      search account by name or id
    </div>
    <div class="search-table-body">
      <span class="search-table-row">
        Sample input of id: <a [routerLink]="['/accounts', '1.2.21']"> 1.2.21 </a> or name: <a [routerLink]="['/accounts', '1.2.21']"> karma </a>
      </span>
      <span class="search-table-row">
        <div class="form-group">
          <label for="InputID">Account ID or Name</label>
          <input [(ngModel)]="account_name" type="text" class="form-control" id="InputID" placeholder="Enter account ID or Name"
                                            [style.borderColor]="border_color_id"  (click)="error()">
        </div>
      </span>
      <span class="search-table-row">
        <button type="button" class="btn btn-go" (click)="searchAccount()">GO</button>
        <span class="error" *ngIf="login_error">
          Invalid data!
        </span>
      </span>
    </div>
  </div>
  <div class="search-table">
    <div class="search-table-head">
      search block by number
    </div>
    <div class="search-table-body">
      <span class="search-table-row">
        Sample input: <a [routerLink]="['/operations/blocks', '230575']"> 230575 </a>
      </span>
      <span class="search-table-row">
        <div class="form-group">
          <label for="InputName">Block number</label>
          <input [(ngModel)]="block_number" type="text" class="form-control" id="InputName" placeholder="Enter block number"
                                            [style.borderColor]="border_color_block" (click)="error()">
        </div>
      </span>
      <span class="search-table-row">
        <button type="button" class="btn btn-go" (click)="searchBlock()">GO</button>
        <span class="error" *ngIf="block_error">
          Invalid data!
        </span>
      </span>
    </div>
  </div>
</div>
