.search {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.search-table {
  width: 48%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.error {
  margin-left: 20px;
  color: #9A0000;
  font-weight: bold;
}

.search-table-body {
  display: flex;
  flex-direction: column;
}

.search-table-row {
  padding: 7px 10px;
}

.search-table-row > .form-group {
  margin-bottom: 5px;
}

.form-control:focus {
  border-color: #dddddd;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(31, 41, 54, 0.6);
}

a {
  color: #9A0000;
}

a:hover {
  color: #830000;
}

.btn-go {
  background-color: #9A0000;
  color: #FFFFFF;
  width: 90px;
}

.btn-go:hover {
  background-color: #830000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-table {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-table {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0;
  }
}
