.mobile {
  display: none;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dashboard-information {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 30%;
  /*width: 100%;*/
  /*margin-bottom: 25px;*/
  flex-direction: column;
}

.dashboard-block {
  width: 90%;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 45px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.dashboard-block:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dashboard-block-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: #090e16;
}

.dashboard-block-info {
  font-size: 16px;
  color: #777777;
}

.dashboard-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashboard-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dashboard-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.dashboard-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.dashboard-table-row:last-child {
  border-bottom: none;
}

.value {
  font-weight: bold;
  width: 70%;
  text-align: right;
}

.title {
  /*width: 30%;*/
  /*word-wrap: break-word;*/
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dashboard-table {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard-table {
    display: none;
  }

  .dashboard-information {
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }

  .dashboard-block {
    width: 100%;
    margin-top: 15px;
    height: auto;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .mobile > .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #9A0000;
  }

  .mobile > .component {
    width: 100%;
    margin-top: 15px;
    height: auto;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile > .component > .component-title {
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .mobile > .component > .component-info {
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    word-wrap: break-word;
  }
}
