<div class="dashboard">
  <div class="dashboard-information">
    <a routerLink="/accounts" class="dashboard-block">
      <span class="dashboard-block-title">
        All users
      </span>
      <span class="dashboard-block-info">
        {{ account_count }}
      </span>
    </a>
    <a routerLink="/witnesses" class="dashboard-block">
      <span class="dashboard-block-title">
        Active witnesses
      </span>
      <span class="dashboard-block-info">
        {{ witnesses_count }}
      </span>
    </a>
    <a routerLink="/committee" class="dashboard-block">
      <span class="dashboard-block-title">
        Committee
      </span>
      <span class="dashboard-block-info">
        {{ committee_count }}
      </span>
    </a>
  </div>
  <div class="dashboard-table" *ngIf="global_properties.length > 0">
    <div class="dashboard-table-head">
      <span>dynamic properties</span>
    </div>

    <div class="dashboard-table-body">
      <div class="dashboard-table-row">
        <span class="title">ID</span>
        <span class="value">{{ global_properties[0]['id'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Current Aslot</span>
        <span class="value">{{ global_properties[0]['current_aslot'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Dynamic Flags</span>
        <span class="value">{{ global_properties[0]['dynamic_flags'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Head Block Id</span>
        <span class="value">{{ global_properties[0]['head_block_id'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Head Block Number</span>
        <span class="value">{{ global_properties[0]['head_block_number'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Last Budget Time</span>
        <span class="value">{{ global_properties[0]['last_budget_time'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Last Irreversible Block Num</span>
        <span class="value">{{ global_properties[0]['last_irreversible_block_num'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Next Maintenance Time</span>
        <span class="value">{{ global_properties[0]['next_maintenance_time'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Recent Slots Filled</span>
        <span class="value">{{ global_properties[0]['recent_slots_filled'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Recently Missed Count</span>
        <span class="value">{{ global_properties[0]['recently_missed_count'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Time</span>
        <span class="value">{{ global_properties[0]['time'] }}</span>
      </div>
      <div class="dashboard-table-row">
        <span class="title">Witness Budget</span>
        <span class="value">{{ global_properties[0]['witness_budget'] }}</span>
      </div>
    </div>
  </div>

  <div class="mobile" *ngIf="global_properties.length > 0">
    <div class="title">
      dynamic properties
    </div>
    <div class="component">
      <div class="component-title">
        ID
      </div>
      <div class="component-info">
        {{ global_properties[0]['id'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Current Aslot
      </div>
      <div class="component-info">
        {{ global_properties[0]['current_aslot'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Dynamic Flags
      </div>
      <div class="component-info">
        {{ global_properties[0]['dynamic_flags'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Head Block Id
      </div>
      <div class="component-info">
        {{ global_properties[0]['head_block_id'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Head Block Number
      </div>
      <div class="component-info">
        {{ global_properties[0]['head_block_number'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Last Budget Time
      </div>
      <div class="component-info">
        {{ global_properties[0]['last_budget_time'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Last Irreversible Block Num
      </div>
      <div class="component-info">
        {{ global_properties[0]['last_irreversible_block_num'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Next Maintenance Time
      </div>
      <div class="component-info">
        {{ global_properties[0]['next_maintenance_time'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Recent Slots Filled
      </div>
      <div class="component-info">
        {{ global_properties[0]['recent_slots_filled'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Recently Missed Count
      </div>
      <div class="component-info">
        {{ global_properties[0]['recently_missed_count'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Time
      </div>
      <div class="component-info">
        {{ global_properties[0]['time'] }}
      </div>
    </div>
    <div class="component">
      <div class="component-title">
        Witness Budget
      </div>
      <div class="component-info">
        {{ global_properties[0]['witness_budget'] }}
      </div>
    </div>
  </div>
</div>
