.mobile {
  display: none;
}

.witnesses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.witnesses-table {
  width: 100%;
  border: 1px solid #9A0000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.witnesses-table:first-child {
  margin-bottom: 30px;
}

.witnesses-table-head {
  height: 35px;
  background-color: #9A0000;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.witnesses-table-row-head > a {
  color: #090e16;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.witnesses-table-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.witnesses-table-row {
  display: flex;
  flex-direction: row;
  padding: 7px 10px;
  border-bottom: 1px solid #dddddd;
}

.witnesses-table-row:first-child {
  border-bottom: 2px solid #dddddd;
}

.witnesses-table-row:last-child {
  border-bottom: none;
}

.witnesses-table-row-head {
  color: #090e16;
  text-transform: uppercase;
  font-weight: bold;
}

.witnesses-table-row-position, .witnesses-table-row-id, .witnesses-table-row-url, .witnesses-table-row-missed {
  width: 10%;
}

.witnesses-table-row-last {
  width: 15%;
}

.witnesses-table-row-account, .witnesses-table-row-votes {
  width: 22.5%;
}

.witnesses-table-row-missed, .witnesses-table-row-votes, .witnesses-table-row-last {
  text-align: right;
}

a {
  color: #9A0000;
  cursor: pointer;
}

a:hover {
  color: #830000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .witnesses-table-row-position {
    display: none;
  }

  .witnesses-table-row-id, .witnesses-table-row-url {
    width: 10%
  }

  .witnesses-table-row-missed {
    width: 15%
  }

  .witnesses-table-row-last, .witnesses-table-row-votes {
    width: 20%
  }

  .witnesses-table-row-account {
    width: 25%
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .witnesses-table {
    border-radius: 0;
  }

  .witnesses-table > .witnesses-table-body {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  .witnesses-table-row {
    min-width: 1000px;
  }

  .witnesses-table-head {
    width: 100%;
  }
}
