<div class="witnesses">
  <div class="witnesses-table">
    <div class="witnesses-table-head">
      <span>active witnesses</span>
    </div>
    <div class="witnesses-table-body">
      <div class="witnesses-table-row">
        <div class="witnesses-table-row-head witnesses-table-row-position">
          <span>Position</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-id">
          <span>id</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-account">
          <span>Account</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-url">
          <span>Url</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-votes">
          <a class="sort" (click)="sort_by_total_active()">Total votes <span class="glyphicon {{ glyphicon_total_active }}" aria-hidden="true"></span></a>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-missed">
          <a class="sort" (click)="sort_by_miss_active()">Missed <span class="glyphicon {{ glyphicon_miss_active }}" aria-hidden="true"></span></a>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-last">
          <span>Last Confirmed Block</span>
        </div>
      </div>
      <div class="witnesses-table-row" *ngFor="let wit of active_witnesses_info; let i = index">
        <div class="witnesses-table-row-position">
          <span>{{ i + 1 }}</span>
        </div>
        <div class="witnesses-table-row-id">
          <a [routerLink]="['/operations/witness', wit['0']]">{{ wit['0'] }}</a>
        </div>
        <div class="witnesses-table-row-account">
          <a [routerLink]="['/accounts', wit['1']['id']]"> {{ wit['1']['name'] }}</a>
        </div>
        <div class="witnesses-table-row-url">
          <span *ngIf="wit['2']">
            <a (click)="openURL(wit['2'])">Link</a>
          </span>
        </div>
        <div class="witnesses-table-row-votes">
          <span>{{ wit['3'] }} <b>KRM</b></span>
        </div>
        <div class="witnesses-table-row-missed">
          <span>{{ wit['4'] }}</span>
        </div>
        <div class="witnesses-table-row-last">
          <span><a [routerLink]="['/operations/blocks', wit['5']]">{{ wit['5'] }}</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="witnesses-table">
    <div class="witnesses-table-head">
      <span>reserve witnesses</span>
    </div>
    <div class="witnesses-table-body">
      <div class="witnesses-table-row">
        <div class="witnesses-table-row-head witnesses-table-row-position">
          <span>Position</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-id">
          <span>id</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-account">
          <span>Account</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-url">
          <span>Url</span>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-votes">
          <a class="sort" (click)="sort_by_total_standby()">Total votes <span class="glyphicon {{ glyphicon_total_active }}" aria-hidden="true"></span></a>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-missed">
          <a class="sort" (click)="sort_by_miss_standby()">Missed <span class="glyphicon {{ glyphicon_miss_active }}" aria-hidden="true"></span></a>
        </div>
        <div class="witnesses-table-row-head witnesses-table-row-last">
          <span>Last Confirmed Block</span>
        </div>
      </div>
      <div class="witnesses-table-row" *ngFor="let wit of standby_witnesses_info; let i = index">
        <div class="witnesses-table-row-position">
          <span>{{ active_witnesses.length + i + 1 }}</span>
        </div>
        <div class="witnesses-table-row-id">
          <a [routerLink]="['/operations/witness', wit['0']]">{{ wit['0'] }}</a>
        </div>
        <div class="witnesses-table-row-account">
          <a [routerLink]="['/accounts', wit['1']['id']]"> {{ wit['1']['name'] }}</a>
        </div>
        <div class="witnesses-table-row-url">
          <span *ngIf="wit['2']">
            <a (click)="openURL(wit['2'])">Link</a>
          </span>
        </div>
        <div class="witnesses-table-row-votes">
          <span>{{ wit['3'] }} <b>KRM</b></span>
        </div>
        <div class="witnesses-table-row-missed">
          <span>{{ wit['4'] }}</span>
        </div>
        <div class="witnesses-table-row-last">
          <span><a [routerLink]="['/operations/blocks', wit['5']]">{{ wit['5'] }}</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
